.main-content {
  margin-left: 250px;
  padding-top: 60px;
  min-height: 100vh;
  background-color: #f4f7f6;
  transition: margin-left 0.3s;
  margin-top: 200px;
}
.dashboard-wrapper {
  margin-top: 60vh;
  padding: 30px;
}
.profile-header-section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

.big-profile-pic {
  width: 100px;
  height: 100px;
  background: var(--primary-color);
  color: white;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile-info h1 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: var(--text-dark);
}

.profile-info p {
  color: var(--text-grey);
  font-size: 1rem;
}

.request-btn {
  margin-left: auto;
  padding: 10px 20px;
  background: var(--text-dark);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.request-btn:hover {
  background: var(--primary-color);
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
}

.info-group {
  margin-bottom: 15px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.info-group label {
  color: var(--text-grey);
  font-weight: 500;
}

.info-group span {
  color: var(--text-dark);
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.close {
  cursor: pointer;
  font-size: 1.5rem;
  color: #aaa;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
}
